  
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

      <h1 class="title is-4"> New Post </h1>

      <%= render 'form' %>


      </div>

    </div>
  </div>
</div>