<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <p>
          <strong>Author:</strong>
          <%= @post.user.name %>
        </p>
        <p>
          <strong>Title:</strong>
          <%= @post.title %>
        </p>
        <p>
          <strong>Body:</strong>
          <%= @post.body %>
        </p>
        <%= link_to 'Edit', edit_post_path(@post) %> |
      </div>
    </div>
  </div>
</div>
